/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f1f1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  height: 34px;
}

.logo-main {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.subtext {
  font-size: 12px;
  letter-spacing: 6px;
  color: #555;
  margin-top: 4px;
  text-transform: uppercase;
}

/* Menu (3 dots) */
.dot-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
  padding: 3px;
}

.dot-menu span {
  width: 5px;
  height: 5px;
  background-color: #0e213854;
  border-radius: 50%;
  display: block;
  transition: all 0.3s ease;
}

.dot-menu:hover span {
  transform: scale(1.5);
  background-color: #ffbe3c;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  text-align: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("images/bg-img1.png") no-repeat center/cover;
  color: #fdeccb;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fdeccb;
}

.hero h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
  color: #fdeccb;
  margin-bottom: 30px;
}

.hero button {
  background: #ffbe3c;
  color: #0e2138;
  border: none;
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #04998b;
  color: #fff;
}

.dots {
  margin-top: 30px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 50%;
  margin: 0 4px;
}

.dot.active {
  background: #fff;
}

/* ===== APPLICATION SECTION ===== */
.application-section {
  text-align: center;
  padding: 80px 40px;
  background-color: #fff;
  width: 100%;
  height: auto;
  color: #fff;
}

/* Real World Applications Section  */
.custom-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 40px auto;
}

.custom-card h1 {
  font-size: 48px;
  margin-bottom: 25px;
  color: #0e2138;
  line-height: 1.2;
}

.custom-card p {
  font-size: 18px;
  color: #0e2138;
  line-height: 1.6;
  margin-bottom: 5rem;
}

#newCardImg {
  width: 35%;
  height: auto;
  top: -90px;
}

.application-section .card-logo h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  font-weight: 600;
  font-weight: bold;
}

.application-section .card-logo h2 span img {
  width: 93px;
  height: 30px;
  top: 1px;
}

.card {
  width: 100%;
  height: 10%;
  background: #f1f1f1;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  transition: transform 0.3s;
  margin-bottom: 5rem;
}

.card:hover {
  transform: translateY(-5px);
}

.card-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-logo img {
  width: 120px;
  height: auto;
  position: relative;
  top: -55px;
}

.card-logo h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0e2138;
  line-height: 1.3;
  text-align: center;
}

/* Desktop view (default) */
.card p {
  text-align: center;  
  font-size: 16px;
  color: #0e2138;
  line-height: 1.6;        
  margin: 10px auto;       
  max-width: 350px;        
  word-wrap: break-word;  
  display: block;         
}




.btn-globle {
  display: block;            
  background: #fbbf24;
  color: #111;
  font-weight: bold;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 auto 2rem;      /* center horizontally and add bottom space */
}

.btn-globle:hover {
  background: #f59e0b;
}


/* ===== CARDS GRID ===== */
.application-section .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 40px;
}

/* Card design */
.card-box {
  position: relative;
  background: #f1f1f1;
  padding: 120px 30px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card-box:hover {
  transform: translateY(-8px);
}

/* Floating card image */
.card-img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.card-img img {
  width: 180px;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Card text */
.content-set {
  margin-top: 3rem;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 2rem;
  color: #0e2138;
}

.card-desc {
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #0e2138;
}

/* Card button */
.btn {
  background: #fbbf24;
  color: #111;
  font-weight: bold;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #f59e0b;
}

/* Ai Agents Section  */
.ai-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  background-color: #f1f1f1;
}

.ai-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 1.3;
  color: #0e2138;
  margin-bottom: 4.5rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  justify-items: center;
}

.feature-card {
  background: #fdeccbb2;
  border-radius: 20px;
  padding: 30px;
  text-align: left;
  width: 110%;
  height: 115%;
  max-width: 800px;
  position: relative;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card img {
  width: 120px;
  height: auto;
  position: absolute;
  top: -52px;
  left: 5px;
}

.feature-card h3 {
  color: #04998b;
  font-size: 18px;
  margin: 50px 0 12px;
}

.feature-card p {
  font-size: 13px;
  line-height: 1.5;
  color: #0e2138;
}

/* ===== FOOTER ===== */
.footer {
  background: #0e2138;
  color: #ffffff;
  padding: 50px 20px 20px;
  width: 100vw;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

/* Footer logo */
.footer-logo {
  margin-bottom: 30px;
  color: #ffffff;
}

.footer-logo .logo {
  width: 120px;
  height: auto;
  margin-right: -20px;
}

.footer-logo .tagline {
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 8px;
  color: #ffffff;
}

/* Footer links */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 30px;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #fef2db;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fbbf24;
}

/* Footer socials */
.footer-socials {
  margin-top: 20px;
}

.footer-socials a {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: #fdeccb;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #fbbf24;
}

/* Footer bottom row */
.footer-bottom {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #fef2db;
}

.footer-bottom .footer-socials {
  margin: 0;
}

/* ===== MEDIA QUERY: TABLET / MOBILE ===== */
@media (max-width: 768px) {
  /* ===== HEADER ===== */
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -28px;
  }

  .logo img {
    height: 33px;
    left: -20px;
  }

  .dot-menu {
    flex-direction: row;
    height: auto;
    margin-left: auto;
    gap: 4px;
  }

  /* ===== HERO ===== */
  .hero {
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    padding: 20px;
    max-width: 90%;
    margin-top: 13rem;
  }

  .hero h1 {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .hero button {
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
  }

  .hero button:hover {
    background: #04998b;
  }

  .dots {
    margin-top: 10px;
  }

  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #555;
    border-radius: 50%;
  }

  .dot.active {
    background: #fff;
  }

  /* ===== APPLICATION SECTION ===== */
  .custom-card {
    margin: 30px auto;
    padding: 0 15px;
  }

  .custom-card h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 102%;
    margin-bottom: 20px;
    text-align: center;
  }

  .custom-card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }

  #newCardImg {
    width: 120%;
    top: -65px;
  }

  .card-logo img {
    width: 85px;
    height: auto;
    top: -60px;
  }

  .application-section .card-logo h2 {
    font-size: 33px;
    font-weight: 5800;
  }

  .application-section .card-logo h2 span img {
    width: 95px;
    height: auto;
  }

  .application-section .card p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .application-section .card .btn-globle {
    width: 166px;
    height: 28px;
    border-radius: 28px;
    font-size: 16px;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffbe3c;
    color: #0e2138;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

  /* Grid cards */
  .application-section .cards {
    grid-template-columns: 1fr;
    gap: 45px;
    margin-top: 30px;
  }

  .card-box {
    padding: 100px 20px 20px;
    border-radius: 14px;
    margin-top: 2.5rem;
  }

  /* Floating card image */
  .card-img {
    top: -50px;
  }

  .card-img img {
    width: 180px;
  }

  /* Card text */

  .content-set {
    margin-top: 2rem;
  }

  .card-title {
    font-size: 35px;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  .card-desc {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.8rem;
    margin-bottom: 15px;
    line-height: 100%;
  }

  .btn {
    width: 166px;
    height: 28px;
    border-radius: 28px;
    font-size: 16px;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffbe3c;
    color: #0e2138;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

  /* Ai Agents Section  */
  .ai-section {
    max-width: 1100px;
    padding: 45px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .ai-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 1.3;
    color: #0e2138;
    margin-bottom: 4.5rem;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 9rem;
    justify-items: center;
    margin-bottom: 3rem;
  }

  .feature-card {
    background: #fdeccbb2;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    width: 117%;
    height: 140%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
  }

  .feature-card:hover {
    transform: translateY(-5px);
  }

  .feature-card img {
    width: 160px;
    height: auto;
    position: absolute;
    top: -70px;
    left: 5px;
  }

  .feature-card h3 {
    color: #04998b;
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0 12px;
  }

  .feature-card p {
    font-size: 13px;
    font-weight: 300;
    line-height: 100%;
    color: #0e2138;
  }

  /* ===== FOOTER ===== */

  .footer-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* Footer logo */
  .footer-logo {
    margin-bottom: 30px;
    color: #ffffff;
  }

  .footer-logo .logo {
    width: 106px;
    height: auto;
    margin-left: -1px;
  }

  .footer-logo .tagline {
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 8px;
    color: #ffffff;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 8px;
  }

  .footer-bottom .footer-socials a {
    margin-left: 10px;
    font-size: 18px;
  }
}
/* ====== BUTTON TO OPEN POPUP ====== */
.open-popup-btn {
  background: #009688;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 4rem;
  transition: background 0.3s ease;
}

.open-popup-btn:hover {
  background: #00796b;
}

/* ====== POPUP OVERLAY ====== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ====== POPUP CONTAINER ====== */
.pop-container {
  background: #f8f8f8;
  border-radius: 20px;
  width: 380px;
  padding: 40px 35px;
  position: relative;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

/* ====== CLOSE BUTTON ====== */
.close-popup {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 22px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

/* ====== HEADING ====== */
.heading-pop {
  text-align: center;
  margin: 0 auto;
}

.heading-pop h1 {
  font-size: 26px;
  font-weight: 700;
  color: #001f33;
  margin-bottom: 8px;
  display: inline-block;
}

.heading-pop h1 span {
  color: #009688;
}

.heading-pop hr {
  width: 80%;
  margin: 8px auto 30px;
  border: none;
  height: 1.5px;
  background: #001f33;
}

/* ====== FORM ====== */
.form-fill {
  text-align: left;
}

.form-fill label {
  font-weight: 600;
  font-size: 14px;
  color: #009688;
  display: block;
  margin-bottom: 5px;
}

.form-fill input {
  width: 100%;
  background: #e9e9e9;
  border: none;
  border-radius: 30px;
  padding: 12px 16px;
  font-size: 15px;
  margin-bottom: 20px;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

/* ====== MOBILE FIELD WITH FLAG ====== */
.mobile-input {
  display: flex;
  align-items: center;       
  background: #e9e9e9;
  border-radius: 30px;
  padding: 0 12px;          
  gap: 8px;
  height: 40px;              
  box-sizing: border-box;
}

.mobile-input img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.mobile-input span {
  font-weight: 600;
  color: #555;
  display: flex;
  align-items: center;      
}

.mobile-input input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  color: #333;
  height: 100%;             
  padding: 0;
  box-sizing: border-box;
}
.mobile-input {
  display: flex;
  align-items: center;       
  background: #e9e9e9;
  border-radius: 30px;
  padding: 0 12px;           
  gap: 8px;
  height: 40px;               
  box-sizing: border-box;
}

.mobile-input img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.mobile-input span {
  font-weight: 600;
  color: #555;
  display: flex;
  align-items: center;      
}

.mobile-input input {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  color: #333;
  height: 100%;              
  line-height: 40px;        
  padding: 0;
  box-sizing: border-box;
}



/* Remove number arrows */
.mobile-input input::-webkit-outer-spin-button,
.mobile-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Remove number arrows */
.mobile-input input::-webkit-outer-spin-button,
.mobile-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* ====== SUBMIT BUTTON ====== */
.form-fill button {
  width: 100%;
  background: #009688;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.form-fill button:hover {
  background: #00796b;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .pop-container {
    width: 90%;
    padding: 25px;
  }

  .open-popup-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 5rem;
  }
}
